@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.fontFilter {
  font-family: "Open Sans";
  font-size: 40px;
  color: #747474;
}

nav {
  width: 100%;
  background-color: #2f2342;
  color: #fff;
  font-size: large;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

/* checkbox */
/* The container */
.checkboxKu {
  display: block;
  position: relative;
  padding-left: 4.7rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxKu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 2.9rem;
  width: 2.9rem;
  background-color: white;
  border: solid black 3.5px;
}

/* On mouse-over, add a grey background color */
.checkboxKu:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.checkboxKu input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxKu input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxKu .checkmark:after {
  left: 0.8rem;
  width: 1rem;
  height: 2rem;
  border: solid #b42b3f;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* akhir checkbox */

.buttonSelesai {
  background-color: #b42b3f;
  font-size: 40px;
  font-weight: 700;
  color: white;
  padding: 0.5rem 7.4rem;
  border: none;
  border-radius: 40px;
}

footer {
  margin-top: 9rem;
  display: flex;
  background-color: #2f2342;
  padding: 2rem 0;
  text-align: center;
}

footer a {
  padding-right: 0.5rem;
  color: #fff;
  text-decoration: none;
  
}

footer a:hover {
  color: #ccc;
}

.contact {
  font-size: 25px;
  text-align: center;
}
