@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* jumbotron */
.styleJmbtrn {
  height: 57vh;
  width: 100%;
  background-image: url(image/jumbotronImage.png);
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 2.5%;
}

/* filter */
.fontFilter {
  font-family: "Open Sans";
  font-size: 40px;
  color: #747474;
}
/* .dropdown-menu li a {
  color: #747474;
}
.dropdown-menu li a:hover {
  color: black;
  background-color: transparent;
}
.hrStyle {
  color: black;
  border-width: 2px;
  opacity: 1;
  margin: 0px 0px;
} */

/* brand */
.marginMerk {
  margin-right: 2%;
}

.styleMerk {
  border-radius: 20px;
  width: 14vw;
  height: 28vh;
}
