@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.jumbotron {  
  background-image: url(image/jalanan.jpg);
  height: 300px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.fontFilter {
  font-family: "Open Sans";
  font-size: 40px;
  color: #747474;
}
.hrStyle {
  color: black;
  border-width: 2px;
  opacity: 1;
  margin: 0px 0px;
}

.mobilPage{
  margin: 40px auto;
  padding: 20px;
  background-color: #7CA0E5;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobilPage img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.styleMerk{
  border-radius: 20px; width: 14vw; height: 28vh;
}

nav {
  background-color: #2F2342;
  color: #fff;
  border-radius: 0;
  font-size: large;
  text-transform: capitalize;
  display: flex;
  align-items: center
}

.dropdown-item :hover{ 
  border-radius: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bg-text {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  margin-top: 15rem;
  margin-bottom: 50px;
}

footer {
  display: flex;
  background-color: #2F2342;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  color: #ccc;
}

.contact { 
  margin-left: 80%;
  font-size: 25px;
  text-align: center;
}

.specs-table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 26%;
  margin-top: 15rem;
}

.specs-table th,
.specs-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.specs-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.specs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.specs-table td:last-child {
  text-align: right;
}
